{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href={% static 'css/homepage.css' %}>
    <link rel="stylesheet" href={% static 'media' %}>
    <link rel="stylesheet" href={% static 'images' %}>

    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>

    <title>PClub-Ahmedabad University</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="/docs/4.3/assets/brand/bootstrap-solid.svg" width="30" height="30" alt="">
    </a>
    {#  <a class="navbar-brand" href="#">Navbar</a>#}
    {#  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">#}
    {#    <span class="navbar-toggler-icon"></span>#}
    {#  </button>#}

    <div class="collapse navbar-collapse" id="navbarNav" style="display: flex;
    justify-content: center;">
        <ul class="navbar-nav">
            <li class="nav-item ">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Resources</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Our Team</a>
            </li>
        </ul>
    </div>
</nav>
<div class="jumbotron jumbotron-fluid" style="background-image: url({% static 'media/jumbotron.jpg' %});">

    <div class="container">
        <h1 class="display-4" >Programming Club</h1>
    </div>
</div>
<div class="w3-content w3-section" style="max-width:500px; ">
{% for image in images %}

<img class="mySlides" src= ' {{ image.image }}' style="width:100%">
  {% endfor %}
</div>
<script>

var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}
  x[myIndex-1].style.display = "block";
  setTimeout(carousel, 2000); // Change image every 2 seconds
}
</script>

<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
  </div>
  <!-- Copyright -->

</footer>

</body>
</html>